<div class="top4">
    <div class="top5">
       ANDIZUMOネイルカラーカスタマイズ診断
    </div>
    <div class="top6">
    
    診断スタートを押してあなたにピッタリのカラーに出会おう
    
    </div>
</div>
    <%= image_tag "ANDIZUMO.top.back copy.jpg", class:"top3" %>


<div class="top1">
    <div class="top2">
        <%= link_to "診断へ",  perfumes_index_path %>
    </div>
</div>

