.top3{
   position: relative;
    background-size: cover;
    width: 100%;
    height: 100%;
  z-index: 1;
   

    
  
  }
.top1{
    background-color: rgba(33, 72, 117, 1);
    width: 30%;
    height: 20vh;
    border-radius: 100px;
    text-align: center;
   

}

.top2{
    font-size: 40px;
    padding-top: 10%;
    text-decoration-color: white;
   
}

.top4{
   
        width: 100%;
        height: 130%;
        text-align: center;
        position: absolute;
        font-size: 3vh;
        background-color: rgba(255, 255, 255, 0.795);
        z-index: 2;
       
}

.top5{
   margin: 15% 10% 5% 15% ;
   font-size: 5vh;
}

.top6{
    font-size: 5vh ;
 }
